<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <!-- ensure only the sources defined below are used -->
    <add key="Spectum Local Feed" value="\\spartacus\company\TFSBuild\NuGetfeeds" />
    <add key="Spectum Local Feed 2" value="F:\NuGets" />
  </packageSources>
</configuration>